#parasail {
    max-width: 20%;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 40%;
    margin-right: 40%;
}

header {
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
}