#parasail-landing {
    background-image: url("./assets/pink-sky.jpg");
    background-attachment:fixed;
    min-width: 100vw;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: 2px 2px 4px #010101;
    color: white;
    padding: 14px;
    /* margin-bottom:14px; */
    border-bottom: 8px solid rgb(49, 135, 168); 
}

#parasail-icon {
    max-width: 20%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 40%;
    margin-right: 40%;
}

#header {
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
    color: white;
}

#book-button {
    margin-top: 25px;
    margin-bottom: 15px;
}

#icon {
    margin-top: 15px;
}

#title {
    margin-top: 15px;
    margin-bottom: 15px;
}