.segment {
    background-image: url("./assets/parasail-hero.png"); 
    background-attachment:fixed;
    min-width: 100vw;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: 2px 2px 4px #010101;
    color: white;
    padding: 14px;
    margin-bottom:14px;
    border-bottom: 8px solid rgb(49, 135, 168);    
}

#book-button {
    margin-top: 25px;
    margin-bottom: 15px;
    background: linear-gradient(#ffee00, #ff9102);
}

#header {
    color: white;
}

#icon {
    margin-top: 15px;
}

#title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 2px;
}