.segment {
    background-image: url("./assets/ohl.jpg"); 
    background-attachment:fixed;
    min-width: 100vw;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: 2px 2px 4px #010101;
    color: white;
    padding: 14px;
    /* margin-bottom:14px; */
    border-bottom: 8px solid #3187a8;    
}

#book-button {
    margin-top: 25px;
    margin-bottom: 15px;
    /* background: linear-gradient(#ffee00, #ff9102); */
}

#header {
    color: white;
}

.paraboat {
    margin-top: 15px;
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(105%) contrast(102%) drop-shadow(2px 2px 4px #000000); */
    filter:drop-shadow(2px 2px 4px #000000);
    height: 15vh;
    transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    -o-transform: perspective(500px) rotateY(0deg);
    animation-name: rotate-windows;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes rotate-windows {
    0% {
        transform: perspective(500px) rotateY(0deg);
        -webkit-transform: perspective(500px) rotateY(0deg);
        -moz-transform: perspective(500px) rotateY(0deg);
        -ms-transform: perspective(500px) rotateY(0deg);
        -o-transform: perspective(500px) rotateY(0deg);
    }
    25% {
        transform: perspective(500px) rotateY(-42deg);
        -webkit-transform: perspective(500px) rotateY(-42deg);
        -moz-transform: perspective(500px) rotateY(-42deg);
        -ms-transform: perspective(500px) rotateY(-42deg);
        -o-transform: perspective(500px) rotateY(-42deg);
    }
    50% {
        transform: perspective(500px) rotateY(0deg);
        -webkit-transform: perspective(500px) rotateY(0deg);
        -moz-transform: perspective(500px) rotateY(0deg);
        -ms-transform: perspective(500px) rotateY(0deg);
        -o-transform: perspective(500px) rotateY(0deg);
    }
    75% {
        transform: perspective(500px) rotateY(42deg);
        -webkit-transform: perspective(500px) rotateY(42deg);
        -moz-transform: perspective(500px) rotateY(42deg);
        -ms-transform: perspective(500px) rotateY(42deg);
        -o-transform: perspective(500px) rotateY(42deg);
    }
    100% {
        transform: perspective(500px) rotateY(0deg);
        -webkit-transform: perspective(500px) rotateY(0deg);
        -moz-transform: perspective(500px) rotateY(0deg);
        -ms-transform: perspective(500px) rotateY(0deg);
        -o-transform: perspective(500px) rotateY(0deg);
    }
}

#title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 2px;
}

