label {
    /* font-family: Montserrat !important; */
    font-weight: 500 !important;
    color: white !important;
}

.submit {
    /* background: linear-gradient(#ffee00, #ff9102) !important; */
    /* border: 1px solid rgb(179, 179, 179) !important; */
    font-family: Montserrat !important;
    font-weight: 500 !important;
    color: white !important;
    /* text-shadow: 2px 2px 4px #353535 !important; */
}

/* code above is for the defunct booking form */

#booking-main {
    padding: 14px 0px 14px 0px;
    background: linear-gradient(rgb(0, 0, 0), rgb(54, 54, 54));
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 1pt;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.footer-title {
    font-family: 'Nabla';
    font-variation-settings: "EDPT" 500;
    /* animation: depth 1s ease-in-out alternate infinite;
	position: relative;
	display: inline-block; */
	/* font-variation-settings: "EDPT" 30; */
	font-palette: --Nabla;
    letter-spacing: 3pt;
}

@font-palette-values --Nabla {
	font-family: Nabla;
	base-palette: 4;
}

.title-bkgd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    /* width: 100%; */
    font-size: 20pt;
    margin-bottom: 40px;
}

.ig-div {
    margin-bottom: 30px;
}

.ig::before {
    font-size: 30pt;
    text-shadow: 2px 2px 3px black;
    color: rgb(220, 220, 220);
}

.smol {
    font-size: 6pt;
    letter-spacing: normal;
    margin-top: 15px;
}